<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>LiveLessons : Transforms</title>
</head>
<body>
	<h1 layout:fragment="header">LiveLessons : Transforms</h1>
	<div layout:fragment="content">
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
			at placerat lacus. Lorem ipsum dolor sit amet, consectetur adipiscing
			elit. Interdum et malesuada fames ac ante ipsum primis in faucibus.
			Nulla lacus neque, euismod quis urna id, tincidunt blandit lacus.
			Donec euismod, nisl sed fermentum tristique, justo mauris efficitur
			sem, ut fermentum nisl dolor quis lectus. Fusce ut enim rutrum,
			sagittis mauris ut, lacinia eros. Morbi pulvinar molestie elit, ut
			tristique tellus. Aenean auctor nisi sed eros lacinia congue et ac
			orci. Morbi vitae velit vel enim maximus convallis et eget justo.</p>
		<p>Aliquam tincidunt semper enim nec pretium. Maecenas in nunc
			eget ligula bibendum scelerisque. Sed egestas id dui id fringilla.
			Praesent nulla neque, ultricies at scelerisque vel, sodales ut neque.
			Aliquam erat volutpat. Cras ex felis, euismod ut vestibulum volutpat,
			elementum non orci. Nullam vel viverra libero. Nam vitae euismod
			metus. Integer euismod, leo sit amet cursus iaculis, arcu libero
			feugiat tellus, in pellentesque arcu sem sit amet elit. Vivamus
			tempus laoreet tortor, ut faucibus est fermentum aliquam. Mauris
			facilisis mattis mi, in faucibus nisl tempor quis. Praesent in
			dignissim lectus. Cras pulvinar gravida sollicitudin. Vestibulum sed
			purus vitae leo ullamcorper dignissim.</p>
	</div>
</body>
</html>
